<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">REGISTRO DE TIENDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label color="secondary"position="floating">Nombre de la tienda</ion-label>
    <ion-input type="text" #nameTienda required clearInput value=""></ion-input>
  </ion-item>
  <br><br>
  <ion-row > 
    <ion-col>
      <ion-button type="submit" (click)="guardarTienda(nameTienda)"  expand="block" >Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer color="primary">
  <h4>ll</h4>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/admin">
        <ion-icon color="primary"name="map-outline"></ion-icon>
        <ion-label color="primary">Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/reg-tienda">
        <ion-icon color="primary"name="storefront-outline"></ion-icon>
        <ion-label color="primary">Reg-tienda</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/anuncios">
        <ion-icon color="primary"name="star-outline"></ion-icon>
        <ion-label color="primary">Anuncios</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/login">
        <ion-icon color="primary" name="exit-outline"></ion-icon>
        <ion-label color="primary" >Salir</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>