//SECUNDARIOS
//secundariasA

//DAVID MORALES
//PRINCIPALES

@font-face{ 
    font-family: principalA;
    src: url("/../../assets/fonts/principalA.woff2");
  }
  ion-title{
    font-family: "principalA"!important;
  }
  
  //SECUNDARIOS
  //secundariasA
  
  @font-face{ 
  font-family: secundarioC;
  src: url("/../../assets/fonts/secundarioC.woff2");
  }
  ion-label{
  font-family: "secundarioC"!important;
  }
  
  @font-face{ 
  font-family: crear2;
  src: url("/../../assets/fonts/crear.woff2");
  }
  a{
  font-family: "crear"!important;
  }
  