<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="light" >ANUNCIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--//////////////////////////////////////////////////////////////
  <ion-list>
    <ion-item *ngFor="let cliente of clientes | async ">
      <ion-label>
        <ion-avatar slot="start">
          <img [src]="cliente.image">
        </ion-avatar>


        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let c of usuario" (click)="opcionesSelecionadas(c)">
              <ion-icon name="people-circle-outline"> </ion-icon>
              <ion-label>{{cliente.name}}</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>

        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let c of usuario" (click)="opcionesSelecionadas(c)">
              <ion-icon name="call-outline"> </ion-icon>
              <ion-label>{{cliente.phone}}</ion-label>

              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let c of usuario" (click)="opcionesSelecionadas(c)">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label>{{cliente.email}}</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>

      </ion-label>
    </ion-item>

  </ion-list>
-->


  <!--////////////////////////////////////////////////////////////////-->
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let cliente of clientes | async ">
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img [src]="cliente.image">
            </div>
          </ion-card-header>
          <ion-card-content *ngFor="let c of usuario" class="ion-text-center">
            <ion-card-title class="ion-margin-bottom" color="favorite">{{cliente.name}}</ion-card-title>
            <ion-card-subtitle class="ion-text-right">{{cliente.phone}}</ion-card-subtitle>
            <ion-card-subtitle class="ion-text-right">{{cliente.descri}}</ion-card-subtitle>
            <ion-progress-bar value="{{cliente.valor}}" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <!--
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="main">
            <img src="assets/fra-alitas.jpg">
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-card-title class="ion-margin-bottom">LOCAL DE ALITAS</ion-card-title>
          <ion-card-subtitle class="ion-text-right">99/100 Comcurrido</ion-card-subtitle>
          <ion-progress-bar value="0.9" color="warning"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>

-->
    </ion-slides>

    <!--//////////////////////////////////-->
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let cliente2 of clientes2 | async ">
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img [src]="cliente2.image">
            </div>
          </ion-card-header>
          <ion-card-content *ngFor="let c of usuario" class="ion-text-center">
            <ion-card-title class="ion-margin-bottom" color="favorite" >{{cliente2.name}}</ion-card-title>
            <ion-card-subtitle class="ion-text-right">{{cliente2.descri}}</ion-card-subtitle>
            <ion-progress-bar value="{{cliente2.valor}}" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>



<!--
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/pollo-broster.jpg">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-card-title class="ion-margin-bottom">EL MEJOR POLLO BROSTER</ion-card-title>
            <ion-card-subtitle class="ion-text-right">80/100 Delicioso</ion-card-subtitle>
            <ion-progress-bar value="0.8" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
-->
    </ion-slides>
  </div>
</ion-content>


<ion-footer color="primary">
  <h4>ll</h4>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/admin">
        <ion-icon  name="map-outline"></ion-icon>
        <ion-label >Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/reg-tienda">
        <ion-icon  name="storefront-outline"></ion-icon>
        <ion-label >Reg-tienda</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/anuncios">
        <ion-icon  name="star-outline"></ion-icon>
        <ion-label >Anuncios</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/login">
        <ion-icon  name="exit-outline"></ion-icon>
        <ion-label >Salir</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>