<ion-header >
  <ion-toolbar color="primary">
    <ion-title  color="light" > INICIAR SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="container ion-text-center">
    <img src="assets/logoO-nuevo.png">
  </div>
  <br><br>

  <form>
    <ion-item lines="full" >
      <ion-label color="primary" position="floating" >CORREO ELECTRÓNICO </ion-label>
      <ion-input type="text" #email required clearInput></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label color="primary" position="floating">CONTRASEÑA</ion-label>
      <ion-input type="password" #password required clearInput value=""></ion-input>
    </ion-item>
    <br><br>
    <ion-row > 
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block" >Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">Iniciar sesión con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col color="secondary">
      <p color="secondary" class="ion-text-end">
        <a color="secondary" routerLink="/forgot-password" >¿Se te olvidó tu contraseña?</a>
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a color="secondary" routerLink="/register">Crea una cuenta</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>