<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admin66</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>
</ion-content>

<ion-footer color="primary">
  <h4>ll</h4>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/home">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
